:root {
    --main-color: #212121;
    --visited-link-color: #2196F3;
    --paragraph-color: #757575;
    --background-color: #2F303A;
}

.generic-container {
    max-width: 100%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
 font-family: 'Roboto', sans-serif;
 color: var(--main-color);
}

body ul {
    list-style-type: none
}
body h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

/* header styles */

.global-header {
    width: 1200px;
    padding: 0px 15px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-bottom: 1px solid var(--main-color);
    margin: auto;
    padding: 0;
}

.global-header a {
    text-decoration: none;
    background-color: #fff;
}

.global-header .header-logo {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #212121;
    margin: auto;
}

.global-header .main-navigation ul {
    display: flex;
    min-width: 250px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--main-color);
    margin-left: 93px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.contact-container .contact-links {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-right: auto;
    margin-left: 385px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.contact-container .contact-links li {
        font-size: 14px;
        font-weight: 500;
        color: #757575;
}

.header-logo span {
    color: var(--visited-link-color);
}

#current {
    color: var(--visited-link-color);
}

.main-navigation a:link,
.main-navigation a:visited {
    color: var(--main-color);
}
.main-navigation a:hover {
    color: var(--visited-link-color)
}
.main-navigation a:active {
    color: var(--visited-link-color);
}
.contact-links a:link,
.contact-links a:visited {
    color: #757575;
}
.contact-links a:hover
 {
    color: var(--visited-link-color);
 }
 .contact-links a:active {
    color: var(--visited-link-color);
 }

/* main styles */

.hero-section-title {
    background-color: var(--background-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

}

.hero-section-title h1 {
    color: #fff;
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 6%;
}


.hero-button {
    background-color: #2196F3;
    color: #fff;
    font-style: inherit;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}

.hero-button:hover {
    color: #fff;
    background-color: #188CE8;
    font-style: inherit;
}

/* what we do styles */

.hero-section-list {
    width: 1200px;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 94px;
    margin: auto;
    
}
.hero-section-list ul {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 30px;
     padding: 0;
}

.hero-section h3 {
    color: var(--main-color);
    font-size: 14px;
    font-weight: 700;
}

.hero-section-list p {
    color: var(--paragraph-color);
    font-size: 14px;
    font-weight: 400;
    column-gap: 30px;
    line-height: 24px;
    word-spacing: 3%;
}

.what-we-do-section {
    width: 1200px;
    padding: 0px 15px;
    align-items: center;
    box-sizing: border-box;
    padding: 94px 0;
    margin: 0 auto;
}

.what-we-do-section ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 94px;
    margin: 0;
    padding-left: 0;
}

/* our team styles */

.our-team-section {
    background-color: #F5F4FA;
    padding-top: 94px;
}

.our-team-section ul {
    width: 1200px;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    padding-left: 0;
    padding-bottom: 94px;
    margin: auto;
}

.our-team-section h3 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.our-team-section p {
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-color);
    text-align: center;
}
.team-member-card {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-member-card h3 {
    padding-top: 30px;
}

.team-member-card p {
    padding-bottom: 30px;
}
/* footer styles */

.global-footer {
    background-color: var(--background-color);
    color: #fff;
    margin: 0;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #fff;
}

.global-footer-div {
    width: 1200px;
    padding: 0px, 15px;
    margin: auto;
}

.footer-logo span {
    color: var(--visited-link-color)
}
.footer-address {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    padding-top: 28px;   
}

.footer-address a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.6);
}

.footer-address a:hover {
    color: var(--visited-link-color);
}

/* Portofolie Buttons */

.portofolio-buttons {
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    
}

.portofolio-buttons button:link,
.portofolio-buttons button:visited {
        background-color: #F5F4FA;
            color: var(--main-color);
}

.portofolio-buttons button:hover {
    color:#fff;
    background-color: var(--visited-link-color);
    cursor: pointer;
}

.portofolio-buttons button:active,
.portofolio-buttons button:focus {
    color:#fff;
    background-color: var(--visited-link-color);
}

.portofolio-list h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 225%;
}

.portofolio-list p {
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%;
    color: var(--paragraph-color);
}